<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Company «KazALi»</title>
    <link rel="stylesheet" href="company.css">
    <link rel="icon" href="images\favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="header__inner">
           <div class="header__logo">
             <img src="https://img.icons8.com/pastel-glyph/60/000000/fast-cart.png" />
             <div class="logo__text"><a class="logo__link"href="index.html"><div>Kaz<span>Ali</span></div></a></div>
           </div>
        </div>
      </div>

      <div class="content">
          <h1>About company «KazAli»</h1>
          <h1>Company «KazAli» was founded by AITU students in Nur-Sultan, in May 2021.</h1>
          <h1>«KazAli» is the largest virtual trading platform in Kazakhstan for the range of technology, clothing, etc.</h1>
          <h1>Thanks to close partnerships with GaryshX, Masa, Zamzung, Tg, etc., «KazAli» offers over 100,000 certified products. As a result, for example, «KazAli» officially works with 12 global clothing brands (Tucci, LaMoste, Vercase, Golce & Dabanna, Channel, etc.).</h1>
          <h1><a class="content__link" href="index.html">Online shop kazali.kz</a> serves both residents of cities and remote villages in Kazakhstan. For 0 years of operation of the <a class="content__link" href="index.html">online shop kazali.kz</a> more than 1,000,000 orders have been delivered.</h1>
          <h1>The professionalism of «KazAli» was confirmed by the research of the consulting company «Executive Consulting». In 2021, there were more than 20,000 grateful customer reviews on kaspimore.kz Since 2021, <a class="content__link" href="index.html">the company's online store</a> has accumulated more than 12,000 reviews from grateful customers.</h1>
          <h1>More than 0 years of work of «KazAli», both with individual private buyers, and the enterprises help each client to receive:</h1>
          <h1><ol class="list">
            <li>Consultations in social networks and in the online store on the company's products, taking into account the needs and wishes of the client;</li>
            <li>Help in choosing the product, payment methods, delivery, bonuses and discounts;</li>
          </ol></h1>
          <h1>Visit the <a class="content__link" href="index.html">online shop kazali.kz</a> and make purchases!!!</h1>
      </div>

      <div class="Creators">
        <div class="Creators__head">
         <h1 class="Creators_h">Creators</h1>
        </div>
        <div class="wrapper">
          <div class="Card">
             <img class="card__img" src="images\Bek.png" alt="">
             <h1><a class="card__link" href="https://bekab06.github.io/web_page/">Bek Baktygereev</a></h1>
             <h1>Front-End, Team Leader</h1>
          </div>
          <div class="Card">
             <img class="card__img" src="images\Adik.png" alt="">
             <h1><a class="card__link" href="https://loocay.github.io/Loocay/">Adilet Kaskarauov</a></h1>
             <h1>Front-End, Design</h1>
          </div>
          <div class="Card">
             <img class="card__img" src="images\ads.png" alt="">
             <h1><a class="card__link" href="https://st0rmg0d.github.io/myPage_w-lil_css/">Daulet Nauryzgali</a></h1>
             <h1>Back-End</h1>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
