<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>KazAli</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="categorystyle.css">
  <link rel="icon" href="images\favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
</head>

<body>
  <header class="header">
    <div class="container">
      <div class="header__inner">
        <div class="header__logo">
          <img src="https://img.icons8.com/pastel-glyph/50/000000/fast-cart.png" />
          <div class="logo__text"><a href="index.html"><div>Kaz<span>Ali</span></div></a></div>
        </div>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <nav class="nav">
          <a class="nav__link1" href="regis.html">Register</a>
          |
          <a class="nav__link2" href="login.html">Login</a>
        </nav>
      </div>
    </div>
  </header>



  <div class="container">
    <div class="main__content">
    <div class="categories">
      <h3 class="categories__text">Categories</h3>
      <ul class="left_menu">
        <li><a href="categore1.html"><img class="categories__images" src="https://img.icons8.com/wired/32/000000/cell-phone.png" />Phones & Accessories</a></li>
        <li><a href="categore2.html"><img class="categories__images" src="https://img.icons8.com/pastel-glyph/32/000000/wedding-dress--v2.png" />Women's Fashion</a></li>
        <li><a href="categore3.html"><img class="categories__images" src="https://img.icons8.com/fluent-systems-regular/32/000000/suit.png" />Men's Fashion</a></li>
        <li><a href="categore4.html"><img class="categories__images" src="https://img.icons8.com/metro/24/000000/computer.png" />Computer & Office</a></li>
        <li><a href="categore5.html"><img class="categories__images" src="https://img.icons8.com/windows/32/000000/furniture.png" />Home Improvement</a></li>
        <li><a href="categore6.html"><img class="categories__images" src="https://img.icons8.com/windows/32/000000/women-shoes.png" />Bags & Shoes</a></li>
        <li><a href="categore7.html"><img class="categories__images" src="https://img.icons8.com/windows/32/000000/baby-bottle.png" />Toys, Kids & Babies</a></li>

    </div>


    <div class="center__content">
      <div class="category_name">
        <h1>Toys, kids & babies</h1>
      </div>
      <div class="wrapper">
        <div class="card">
          <img class="card__img" src="https://a.lmcdn.ru/img600x866/R/T/RTLAAG047601_14149424_1_v1.jpg" alt="" style="width:100%">
          <div class="card_text">
            <h6><b><a class="card__link" href="#">Blukids Suit</a></b></h6>
            <p>8 500 ₸</p>
          </div>
        </div>

        <div class="card">
          <img class="card__img" src="https://a.lmcdn.ru/img600x866/R/E/RE883EBJXAL5_12111704_1_v1.jpg" alt="" style="width:100%">
          <div class="card_text">
            <h6><b><a class="card__link" href="#">Reima Jacket</a></b></h6>
            <p>23 375 ₸</p>
          </div>
        </div>

        <div class="card">
          <img class="card__img" src="https://a.lmcdn.ru/img600x866/U/N/UN012EGIONI2_14362344_1_v1.jpg" alt="" style="width:100%">
          <div class="card_text">
            <h6><b><a class="card__link" href="#">United Colors of Benetton Dress</a></b></h6>
            <p>8 100 ₸</p>
          </div>
        </div>

        <div class="card">
          <img class="card__img" src="https://a.lmcdn.ru/img600x866/N/I/NI464AKFMDH3_9428257_1_v1.jpg" alt="" style="width:100%">
          <div class="card_text">
            <h6><b><a class="card__link" href="#">NIKE Star Runner 2 Big Kids</a></b></h6>
            <p>15 200 ₸</p>
          </div>
      </div>

      <div class="card">
        <img class="card__img" src="https://a.lmcdn.ru/img600x866/R/T/RTLAAI007201_14246926_1_v1.jpg" alt="" style="width:100%">
        <div class="card_text">
          <h6><b><a class="card__link" href="#">Button Blue Shirt</a></b></h6>
          <p>10 000 ₸</p>
        </div>
      </div>

      <div class="card">
        <img class="card__img" src="https://kroshka.biz/assets/images/prods/files/20308-Igrushka-antistress-POP-IT-Among-Us-Pop-It-Am.jpg" alt="" style="width:100%">
        <div class="card_text">
          <h6><b><a class="card__link" href="#">Among Us Pop IT</a></b></h6>
          <p>2 000 ₸</p>
        </div>
      </div>


      <div class="card">
        <img class="card__img" src="https://ae01.alicdn.com/kf/HTB1b4FxmtrJ8KJjSspaq6xuKpXay.jpg_q50.jpg" alt="" style="width:100%">
        <div class="card_text">
          <h6><b><a class="card__link" href="#">6Pcs/Set Bathroom Crayon</a></b></h6>
          <p>1 000 ₸</p>
        </div>
      </div>

      <div class="card">
        <img class="card__img" src="https://a.lmcdn.ru/img600x866/U/N/UN012EBMHMH8_14047917_1_v1.jpg" alt="" style="width:100%">
        <div class="card_text">
          <h6><b><a class="card__link" href="#">United Colors of Benetton Pyjamas</a></b></h6>
          <p>13 500 ₸</p>
        </div>
      </div>

      <div class="card">
        <img class="card__img" src="https://media.entertainmentearth.com/assets/images/e959cb27ae3142879b845295b8011277lg.jpg" alt="" style="width:100%">
        <div class="card_text">
          <h6><b><a class="card__link" href="#">Hasbro Star Wars Captain Rex</a></b></h6>
          <p>23 000 ₸</p>
        </div>
      </div>

      <div class="card">
        <img class="card__img" src="https://a.lmcdn.ru/img600x866/R/T/RTLAAF698101_14123876_1_v1.jpg" alt="" style="width:100%">
        <div class="card_text">
          <h6><b><a class="card__link" href="#">OVS Sweater</a></b></h6>
          <p>9 000 ₸</p>
        </div>
      </div>

      </div>
      </div>
    </div>
  </div>

  <div class="Contacts">
    <div class="container">
      <div class="Contacts_content">
        <div class="">
          <h4>Contacts</h2>
          <h4>+7 701 1234567</h4>
          <h4>KazAli@gmail.com</h4>
        </div>
        <div class="">
                  <h4><a class="Contacts_link" href="AboutCompany.html">About Company</a></h2>
        </div>

      </div>
      <div class="included">
        <div class=""><h4 style="color: white;">© 2021 «KazAli». All rights reserved.</h4>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
