<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>KazAli</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="categorystyle.css">
  <link rel="icon" href="images\favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
</head>

<body>
  <header class="header">
    <div class="container">
      <div class="header__inner">
        <div class="header__logo">
          <img src="https://img.icons8.com/pastel-glyph/50/000000/fast-cart.png" />
          <div class="logo__text"><a href="index.html"><div>Kaz<span>Ali</span></div></a></div>
        </div>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <nav class="nav">
          <a class="nav__link1" href="regis.html">Register</a>
        |
          <a class="nav__link2" href="login.html">Login</a>
        </nav>
      </div>
    </div>
  </header>



  <div class="container">
    <div class="main__content">
    <div class="categories">
      <h3 class="categories__text">Categories</h3>
      <ul class="left_menu">
        <li><a href="categore1.html"><img class="categories__images" src="https://img.icons8.com/wired/32/000000/cell-phone.png" />Phones & Accessories</a></li>
        <li><a href="categore2.html"><img class="categories__images" src="https://img.icons8.com/pastel-glyph/32/000000/wedding-dress--v2.png" />Women's Fashion</a></li>
        <li><a href="categore3.html"><img class="categories__images" src="https://img.icons8.com/fluent-systems-regular/32/000000/suit.png" />Men's Fashion</a></li>
        <li><a href="categore4.html"><img class="categories__images" src="https://img.icons8.com/metro/24/000000/computer.png" />Computer & Office</a></li>
        <li><a href="categore5.html"><img class="categories__images" src="https://img.icons8.com/windows/32/000000/furniture.png" />Home Improvement</a></li>
        <li><a href="categore6.html"><img class="categories__images" src="https://img.icons8.com/windows/32/000000/women-shoes.png" />Bags & Shoes</a></li>
        <li><a href="categore7.html"><img class="categories__images" src="https://img.icons8.com/windows/32/000000/baby-bottle.png" />Toys, Kids & Babies</a></li>
      </ul>
    </div>


    <div class="center__content">
      <div class="category_name">
        <h1>Women's Fashions</h1>
      </div>
      <div class="wrapper">
        <div class="card">
          <img class="card__img" src="images\womendress\d1.jpg" alt="" style="width:100%">
          <div class="card_text">
            <h6><b><a class="card__link" href="#">Trendyol Pink</a></b></h6>
            <p>21 200 ₸</p>
          </div>
        </div>

        <div class="card">
          <img class="card__img" src="images\womendress\d2.jpg" alt="" style="width:100%">
          <div class="card_text">
            <h6><b><a class="card__link" href="#">Rinascimento Dress </a></b></h6>
            <p>40 800 ₸</p>
          </div>
        </div>

        <div class="card">
          <img class="card__img" src="images\womendress\d3.jpg" alt="" style="width:100%">
          <div class="card_text">
            <h6><b><a class="card__link" href="#">Zarina Dress</a></b></h6>
            <p>
              <del>17 500 ₸</del>
            </p>
            <p>10 500 ₸</p>
          </div>
        </div>

        <div class="card">
          <img class="card__img" src="images\womendress\d4.jpg" alt="" style="width:100%">
          <div class="card_text">
            <h6><b><a class="card__link" href="#">Vero Moda Curve Dress</a></b></h6>
            <p>20 500 ₸</p>
          </div>
      </div>

      <div class="card">
        <img class="card__img" src="images\womendress\d5.jpg" alt="" style="width:100%">
        <div class="card_text">
          <h6><b><a class="card__link" href="#">Tommy Hilfiger Dress</a></b></h6>
          <p>100 500 ₸</p>
        </div>
      </div>

      <div class="card">
        <img class="card__img" src="images\womendress\d6.jpg" alt="" style="width:100%">
        <div class="card_text">
          <h6><b><a class="card__link" href="#">Rinascimento Dress</a></b></h6>
          <p>31 000 ₸</p>
        </div>
      </div>


      <div class="card">
        <img class="card__img" src="images\womendress\a1.jpg" alt="" style="width:100%">
        <div class="card_text">
          <h6><b><a class="card__link" href="#">Imperial Jacket</a></b></h6>
          <p>78 300 ₸</p>
        </div>
      </div>

      <div class="card">
        <img class="card__img" src="images\womendress\a2.jpg" alt="" style="width:100%">
        <div class="card_text">
          <h6><b><a class="card__link" href="#">Mango Jacket</a></b></h6>
          <p><del>49 900 ₸</del> </p>
          <p>42 415 ₸</p>
        </div>
      </div>

      <div class="card">
        <img class="card__img" src="images\womendress\a3.jpg" alt="" style="width:100%">
        <div class="card_text">
          <h6><b><a class="card__link" href="#">Mango Tokyo Jacket</a></b></h6>
          <p>19 990 ₸</p>
        </div>
      </div>

      <div class="card">
        <img class="card__img" src="images\womendress\a4.jpg" alt="" style="width:100%">
        <div class="card_text">
          <h6><b><a class="card__link" href="#">Lorabomb Jacket</a></b></h6>
          <p>38 250 ₸</p>
        </div>
      </div>

      <div class="card">
        <img class="card__img" src="images\womendress\a5.jpg" alt="" style="width:100%">
        <div class="card_text">
          <h6><b><a class="card__link" href="#">Mango NOMO-I Jacket</a></b></h6>
          <p>22 990 ₸</p>
        </div>
      </div>

      <div class="card">
        <img class="card__img" src="images\womendress\d7.jpg" alt="" style="width:100%">
        <div class="card_text">
          <h6><b><a class="card__link" href="#">Moda Sincera Dress</a></b></h6>
          <p>30 600 ₸</p>
        </div>
      </div>
      </div>


      </div>
      </div>
    </div>
  </div>

  <div class="Contacts">
    <div class="container">
      <div class="Contacts_content">
        <div class="">
          <h4>Contacts</h2>
          <h4>+7 701 1234567</h4>
          <h4>KazAli@gmail.com</h4>
        </div>
        <div class="">
                  <h4><a class="Contacts_link" href="AboutCompany.html">About Company</a></h2>
        </div>

      </div>
      <div class="included">
        <div class="">
                  <h4 style="color: white;">© 2021 «KazAli». All rights reserved.</h4>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
