<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>KazAli</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="categorystyle.css">
  <link rel="icon" href="images\favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
</head>

<body>
  <header class="header">
    <div class="container">
      <div class="header__inner">
        <div class="header__logo">
          <img src="https://img.icons8.com/pastel-glyph/50/000000/fast-cart.png" />
          <div class="logo__text"><a href="index.html"><div>Kaz<span>Ali</span></div></a></div>
        </div>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <nav class="nav">
          <a class="nav__link1" href="regis.html">Register</a>
          |
          <a class="nav__link2" href="login.html">Login</a>
        </nav>
      </div>
    </div>
  </header>



  <div class="container">
    <div class="main__content">
    <div class="categories">
      <h3 class="categories__text">Categories</h3>
      <ul class="left_menu">
        <li><a href="categore1.html"><img class="categories__images" src="https://img.icons8.com/wired/32/000000/cell-phone.png" />Phones & Accessories</a></li>
        <li><a href="categore2.html"><img class="categories__images" src="https://img.icons8.com/pastel-glyph/32/000000/wedding-dress--v2.png" />Women's Fashion</a></li>
        <li><a href="categore3.html"><img class="categories__images" src="https://img.icons8.com/fluent-systems-regular/32/000000/suit.png" />Men's Fashion</a></li>
        <li><a href="categore4.html"><img class="categories__images" src="https://img.icons8.com/metro/24/000000/computer.png" />Computer & Office</a></li>
        <li><a href="categore5.html"><img class="categories__images" src="https://img.icons8.com/windows/32/000000/furniture.png" />Home Improvement</a></li>
        <li><a href="categore6.html"><img class="categories__images" src="https://img.icons8.com/windows/32/000000/women-shoes.png" />Bags & Shoes</a></li>
        <li><a href="categore7.html"><img class="categories__images" src="https://img.icons8.com/windows/32/000000/baby-bottle.png" />Toys, Kids & Babies</a></li>
      </ul>
    </div>


    <div class="center__content">
      <div class="category_name">
        <h1>Computer & Office</h1>
      </div>
      <div class="wrapper">
        <div class="card">
          <img class="card__img" src="https://hardwaremarket.net/wp-content/uploads/2021/03/81hn2qMzsL._AC_SX466_.jpg" alt="" style="width:100%">
          <div class="card_text">
            <h6><b><a class="card__link" href="#"></a>Razer Viper Mini Gaming Mouse</b></h6>
            <p>23 000 ₸</p>
          </div>
        </div>

        <div class="card">
          <img class="card__img" src="https://lh3.googleusercontent.com/proxy/52ixQrg0EuBYii93V2bAmBrWfLNsZjRWYF7bRkVfomp0lwfvsg0Iwc9Plgxq1xH9VpbPDB22AR9XXnmvKatZQoiPCRP0222QdAWOXEk1pshz4SqXqd5-Ox2WcY33b38f0wFNi3u80J8EWGk" alt="" style="width:100%">
          <div class="card_text">
            <h6><b><a class="card__link" href="#">HDMI Cabel</a></b></h6>
            <p>8 500 ₸</p>
          </div>
        </div>

        <div class="card">
          <img class="card__img" src="https://www.twinschip.com/image/cache/catalog/Products%20Twins%20Chip%20Store%202020/Thermal%20Paste%20Grease%20Heatsink%20Efficient%20Heat%20Dissipation/Thermal%20Paste%20Grease%20Heatsink%20Efficient%20Heat%20Dissipation%20-%20Twins%20Chip%204-550x550.jpg" alt="" style="width:100%">
          <div class="card_text">
            <h6><b><a class="card__link" href="#">Thermopaste 30 gram</a></b></h6>
            <p>890 ₸</p>
          </div>
        </div>

        <div class="card">
          <img class="card__img" src="https://moon.kz/upload/iblock/4bb/4bba3727170c3cd9f59cee75f6264b6f.jpg" alt="" style="width:100%">
          <div class="card_text">
            <h6><b><a class="card__link" href="#">CPU AMD Ryzen 7 3700X</a></b></h6>
            <p>162 500 ₸</p>
          </div>
      </div>

      <div class="card">
        <img class="card__img" src="https://ae01.alicdn.com/kf/H8de06c3426f6472e9862972996800140F/Universal-Capacitive-Stylus-Touch-Screen-Pen-Smart-Pen-for-IOS-Android-System-Apple-iPad-Phone-Smart.jpg_Q90.jpg_.webp" alt="" style="width:100%">
        <div class="card_text">
          <h6><b><a class="card__link" href="#">Digital stylus pen</a></b></h6>
          <p>21 500 ₸</p>
        </div>
      </div>

      <div class="card">
        <img class="card__img" src="https://www.notebookcheck-ru.com/fileadmin/Notebooks/NVIDIA/geforce_rtx_3090_fe.png" alt="" style="width:100%">
        <div class="card_text">
          <h6><b><a class="card__link" href="#">24576 Mb MSI RTX 3090</a></b></h6>
          <p>2 099 900 ₸</p>
        </div>
      </div>


      <div class="card">
        <img class="card__img" src="https://images-na.ssl-images-amazon.com/images/I/61bTRTgmk8S._AC_SY450_.jpg" alt="" style="width:100%">
        <div class="card_text">
          <h6><b><a class="card__link" href="#">Trus GXT285 Gaming Keyboard</a></b></h6>
          <p>49 990 ₸</p>
        </div>
      </div>

      <div class="card">
        <img class="card__img" src="https://www.bhphotovideo.com/images/images2500x2500/asus_prime_z390_a_motherboard_1438187.jpg" alt="" style="width:100%">
        <div class="card_text">
          <h6><b><a class="card__link" href="#">Motherboard AsRock</a></b></h6>
          <p>92 900 ₸</p>
        </div>
      </div>

      <div class="card">
        <img class="card__img" src="https://www.thermaltake.com/pub/media/wysiwyg/key3//img/TTPremiumM700/02b.png" alt="" style="width:100%">
        <div class="card_text">
          <h6><b><a class="card__link" href="#">Mouse Pad Cougar Arena X</a></b></h6>
          <p>12 200 ₸</p>
        </div>
      </div>

      <div class="card">
        <img class="card__img" src="https://fora.kz/images/content/products/614735/apple-macbook-air-2020-mvh22_5ec77c96bcd9f.jpg" alt="" style="width:100%">
        <div class="card_text">
          <h6><b><a class="card__link" href="#">Laptop Apple MacBook Pro Retina M1</a></b></h6>
          <p>899 900 ₸</p>
        </div>
      </div>

      </div>
      </div>
    </div>
  </div>

  <div class="Contacts">
    <div class="container">
      <div class="Contacts_content">
        <div class="">
          <h4>Contacts</h2>
          <h4>+7 701 1234567</h4>
          <h4>KazAli@gmail.com</h4>
        </div>
        <div class="">
                  <h4><a class="Contacts_link" href="AboutCompany.html">About Company</a></h2>
        </div>

      </div>
      <div class="included">
        <div class="">
                  <h4 style="color: white;">© 2021 «KazAli». All rights reserved.</h4>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
