*,
*::after,
*::before{
  box-sizing: border-box;
}

.container{
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  max-height: 1500px;
  margin-top: 100px;
}

.header{
  height: 80px;
}
.header__inner{
  display: flex;
  align-items: center;
}
.logo__text{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  text-decoration: none;
}
.logo__text :hover{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  text-decoration: none;
}

.logo__link{
    text-decoration: none;
}

.logo__link :hover{
    text-decoration: none;
}

.logo__text div{
  color: #00afca;
}

.logo__text div span{
  color:#ffc50c;
}
.header__logo{
  display: flex;
  align-items: center;
}


.content{
  font-family: 'Roboto', sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 50px;
}
h1{
  font-size: 20px;
}

.content__link{
  text-decoration: underline;
  color: black;
}

.content__link :hover{
  text-decoration: underline;
  color: black;
}

.Creators{
  padding-bottom: 30px;
}
.Creators__head{
  text-align: center;
}

.Creators_h{
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.Card{
  text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.Card :hover{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-decoration: underline;
}

.card__img{
  width: 200px;
}

.card__link{
  color: black;
  text-decoration: none;
}
