<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" href="login.css">
    <link rel="icon" href="images\favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Kaz<span>Ali</span></div>
		</div>
		<br>
		<div class="login">
				<input type="text" placeholder="Username" name="user"><br>
        <input type="text" placeholder="First Name" name="Fname"><br>
        <input type="text" placeholder="Second Name" name="Sname"><br>
        <input type="text" placeholder="Email" name="Email"><br>
				<input type="password" placeholder="Password" name="password"><br>
        <input type="password" placeholder="Repeat password" name="Rpassword"><br>
				<input type="button" value="Register">
        <br>
        <br>
        <a href="login.html">Already have an account</a>
		</div>
  </body>
</html>
