<!-- 
<footer>
    <div class="Contacts">
        <div class="container">
            <div class="Contacts_content">
                <div class="">
                    <h4>Contacts</h4>
                    <h4>+7 701 1234567</h4>
                    <h4>shop@gmail.com</h4>
                </div>
                <div class="">
                    <h4><a class="Contacts_link" href="AboutCompany.html">About Company</a></h4>
                </div>

            </div>
            <div class="included">
                <div class="">
                    <h4 style="color: white;">© 2021 «Shop». All rights reserved.</h4>
                </div>
            </div>
        </div>
    </div>
</footer> -->